<div id="future">
  <header>
    <h1><%= link_to @subject.name, [@subject] %></h1>
  </header>
  <header>
    <h2><%= @future.title %></h2>

    <ul class="actions">
      <li><%= link_to "Edit Future", [:edit, @subject, @future],
        class: "edit" %></li>

      <li><%= link_to "Delete Future", [@subject, @future], method: :delete,
        data: { confirm: "Are you sure you want to delete this future?" },
        class: "delete" %></li>
    </ul>

  </header>

  <%= simple_format(@future.content) %>
</div>
