<% title(@subject.name, "Subjects") %>

<header>
  <h1><%= @subject.name %></h1>

  <ul class="actions">
    <li><%= link_to fa_icon("pencil") + " Edit Subject", edit_subject_path(@subject), class: "btn btn-primary" %></li>
    <li><%= link_to fa_icon("trash") + " Delete Subject",
      subject_path(@subject),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this subject?" },
      class: "btn btn-danger" %></li>
  </ul>
</header>

<header>
  <h2>Intros</h2>
  <ul class="actions">
    <li><%= link_to "New Intro", new_subject_intro_path(@subject),
      class: "new" %></li>
  </ul>
</header>

<ul id="intros">
  <% @subject.intros.each do |intro| %>
    <li>
      #<%= intro.id %> -
      <%= link_to intro.title, [@subject, intro] %>
    </li>
  <% end %>
</ul>

<header>
  <h2>Units</h2>
  <ul class="actions">
    <li><%= link_to "New Unit", new_subject_unit_path(@subject),
      class: "new" %></li>
  </ul>
</header>

<ul id="units">
  <% @subject.units.each do |unit| %>
    <li>
      #<%= unit.id %> -
      <%= link_to unit.title, [@subject, unit] %>
    </li>
  <% end %>
</ul>


<header>
  <h2>Futures</h2>
  <ul class="actions">
    <li><%= link_to "New Future", new_subject_future_path(@subject),
      class: "new" %></li>
  </ul>
</header>


<!-- List out future units here later -->
