<% title(@report.name, "Reports") %>

<header>
  <h1><%= @report.name %></h1>

  <ul class="actions">
    <li><%= link_to "New Report", new_report_path, class: "new", method: :get %></li>
    <li><%= link_to "Edit Report", edit_report_path(@report), class: "edit", method: :get %></li>
    <li><%= link_to "Delete Report", report_path(@report),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this report?" },
      class: "delete" %></li>
  </ul>
</header>


<!--
<p><b><%= :gender.capitalize %>:</b>  <%= @report.gender %></p>
<p><b><%= :subject.capitalize %>:</b>   <%= @report.subject.name %></p>
<p><b><%= :intro.capitalize %>:</b>   <%= @report.intro.title%></p>
<p><b><%= :initial.capitalize %>:</b>   <%= @report.initial.title unless @report.initial.blank? %></p>
<p><b><%= :ending.capitalize %>:</b>   <%= @report.ending.title unless @report.ending.blank? %></p>
<p><b><%= :future.capitalize %>:</b>   <%= @report.future.title unless @report.future.blank? %></p>
<p><b><%= :classwork.capitalize %>:</b>   <%= @report.classwork %></p>
<p><b><%= :assessment.capitalize %>:</b>   <%= @report.assessment %></p>
<p><b><%= :participate.capitalize %>:</b>   <%= @report.participate %></p>
<p><b><%= :average.capitalize %>:</b>   <%= @report.average %></p>
<p><b><%= :comment.capitalize %>:</b>   <%= @report.comment %></p>
 -->

<br>
<p><b>| <%= @report.intro.title%></b></p>

<p>
  <%= simple_format(@report.genderized_intro) %>
  <%= simple_format(@report.genderized_unit_array) %>
</p>

<%= (@report.genderized_honor_comment) %>
<%= (@report.genderized_accel_comment) %>
<%= (@report.genderized_maxonline_comment) %>

<p><%= simple_format(@report.genderized_future) unless @report.future.blank? %></p>

<p><%= simple_format(@report.grade_descrip) %></p>

<p>
Classwork = 50% of overall grade<br>
Assessment = 30% of overall grade<br>
Participation = 20% of overall grade<br>
------------------------------------<br>
<%= :classwork.capitalize %>:  <%= @report.classwork_rev %><br>
<%= :assessment.capitalize %>:  <%= @report.assessment_rev %><br>
<%= :participation.capitalize %>:  <%= @report.participate_rev %><br>
<%= :average.capitalize %>:  <%= @report.average_rev %></p>

<p><%= simple_format(@report.genderized_comment) %></p>
<br>
<br>
<br>
