<% title(@report.name, "Reports") %>

<header>
  <h1><%= @report.name %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Report", edit_report_path(@report), class: "edit", method: :get %></li>
    <li><%= link_to "Delete Report", report_path(@report),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this report?" },
      class: "delete" %></li>
  </ul>
</header>



<p><b><%= :gender.capitalize %>:</b>  <%= @report.gender %></p>
<p><b><%= :subject.capitalize %>:</b>   <%= @report.subject.name %></p>
<p><b><%= :intro.capitalize %>:</b>   <%= @report.intro.title%></p>
<p><b><%= :initial.capitalize %>:</b>   <%= @report.initial.title%></p>
<p><b><%= :ending.capitalize %>:</b>   <%= @report.ending.title%></p>
<p><b><%= :future.capitalize %>:</b>   <%= @report.future.title%></p>
<p><b><%= :classwork.capitalize %>:</b>   <%= @report.classwork %></p>
<p><b><%= :assessment.capitalize %>:</b>   <%= @report.assessment %></p>
<p><b><%= :participate.capitalize %>:</b>   <%= @report.participate %></p>
<p><b><%= :average.capitalize %>:</b>   <%= @report.average %></p>
<p><b><%= :comment.capitalize %>:</b>   <%= @report.comment %></p>
<br>
<p><b><%= @report.name %> - <%= @report.subject.name %></b></p>

<p>  <%= @report.genderized_intro %></p>

<p> <%= @report.initial.content %> </p>

<p><%= @report.ending.content %></p>

<p><%= @report.genderized_future %></p>

<p>
Classwork = 50% of overall grade<br>
Assessment = 30% of overall grade<br>
Participation = 20% of overall grade<br>
------------------------------------<br>
<%= :classwork.capitalize %>:  <%= @report.classwork %><br>
<%= :assessment.capitalize %>:  <%= @report.assessment %><br>
<%= :participate.capitalize %>:  <%= @report.participate %><br>
<%= :average.capitalize %>:  <%= @report.average %></p>

<p><%= @report.genderized_comment %></p>
<br>
<br>
<br>
