<% title(@report.name, "Reports") %>

<header>
  <h1><%= @report.name %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Report", edit_report_path(@report), class: "edit" %></li>
    <li><%= link_to "Delete Report", report_path(@report),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this report?" },
      class: "delete" %></li>
  </ul>
</header>

<p><%= @report.gender %></p>
<p><%= @report.subject.name %></p>
<p><%= @report.comment %></p>
